<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ROC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ROC.Properties.Settings>
            <setting name="AppTitle" serializeAs="String">
                <value>ROC Bot UI</value>
            </setting>
            <setting name="isMoMay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isRSS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isGift" serializeAs="String">
                <value>False</value>
            </setting>
        </ROC.Properties.Settings>
    </userSettings>
</configuration>